.principal {
	margin: 0 auto;
	width: 900px;
	padding-top: 20px;
}
.section-title{
  color: #BCBBBB;
}

.lineas {
  height: 10px;/*altura de linea*/
  background-color: #BCBBBB;
  width: 850px;
}
h2{
	padding-top: 20px;
  color: #BCBBBB;
}
